/* styles.css */

.loader {
  border: 8px solid #f3f3f3;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6A52F6;
  position: fixed;
  top: 50%;
  left: 50%;
}

.body {
  overflow: hidden;
  background-color: #6A52F6;
}

.buttonsTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

#viz {
  height: 85vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 8px;
}

#viz .node,
#viz .relationship,
#viz .target {
  transition: transform 0.3s ease-in-out;
}

#viz .node {
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#viz .relationship {
  stroke-width: 2;
  stroke: #95a5a6;
}

#viz .target {
  background-color: #e74c3c;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#viz .node.clicked {
  background-color: #e74c3c;
}

#left-panel {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #cdc6f5;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#left-panel input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#left-panel button {
  width: 100%;
  padding: 8px;
  background-color: #988aed;
  color: #fff;
  border: none;
  cursor: pointer;
}

.SBC_Eixo {
  width: calc 20%;
  /* 20% para cada botão e margem à direita para o espaçamento */
  margin: 10px;
  background-color: #988aed;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.SBC_Eixo:hover {
  background-color: #2980b9;
}

.fields_panel {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.fields_panel label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  /* Adicionando negrito ao nome do campo */
}

.fields_panel input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.fields_panel button {
  width: 100%;
  padding: 8px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.teste{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}