/* panelDescription.css */
@charset  "UTF-8";

.fields_panel {
    display: block;
    margin-bottom: 1em
    ;
    font-weight: bold;
  }
  
  .fields_panel label {
    display: block;
    margin-bottom: 1em;
    color: white;
    /* Adicionando negrito ao nome do campo */
  }
  
  .fields_panel input {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  
  .fields_panel button {
    width: 100%;
    padding: 2em;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 2em;
  }
  
  
#left-panel {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 20em;
    height: 100%;
    background-color: #2c2a4a;
    padding: 2em;
    box-shadow: 2em 0 5em rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 12;
  }
  
  #left-panel input {
    margin-bottom: 1em;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
  }
  
  #left-panel button {
    width: 100%;
    padding: 1em;
    background-color: #988aed;
    color: #fff;
    border: none;
    cursor: pointer;
  }