/* styles.css */
@charset  "UTF-8";

.body {
  overflow: hidden;
  background-color: #4f518c;
  line-height: normal;
  margin: 1em;
  margin-right: 2em;
}

.buttonsBottom {
  display: flex;
  justify-content: center;
  max-width: 100%;
  line-height: normal;
  margin: 1em; /* Usei em como unidade relativa */
  flex-wrap: wrap;
}

.all{
  display: block;
}

.SBC_Eixo {
  width: 20em;
  /* 20% para cada botão e margem à direita para o espaçamento */
  margin: 1em;
  background-color: #907ad6;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 1em 1em;
  border-radius: 1em;
  transition: background-color 0.3s ease;
}

.SBC_Eixo:hover {
  background-color: #2980b9;
}
.w3-btn,
.w3-button {
  color: #fff;
}