/* styles.css */
@charset  "UTF-8";

.body {
  overflow: hidden;
  background-color: #4f518c;
  max-width: 100%;
  line-height: normal;
}

.buttonsBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  align-items: flex-start;
}

.all{
  display: flex;
  align-items: flex-start;
  height: 100%; /* Defina a altura do contêiner pai */
}

.SBC_Eixo {
  width: calc 20em;
  /* 20% para cada botão e margem à direita para o espaçamento */
  margin: 1em;
  background-color: #907ad6;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 13px;
  padding: 1em 1em;
  border-radius: 1em;
  transition: background-color 0.3s ease;
}

.SBC_Eixo:hover {
  background-color: #2980b9;
}
.w3-btn,
.w3-button {
  color: #fff;
}