/* styles.css */

.body {
  overflow: hidden;
  background-color: #4f518c;
}

.buttonsBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.SBC_Eixo {
  width: calc 20%;
  /* 20% para cada botão e margem à direita para o espaçamento */
  margin: 10px;
  background-color: #907ad6;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.SBC_Eixo:hover {
  background-color: #2980b9;
}

.teste {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}


.w3-btn,
.w3-button {
  color: #fff;
}